* {
    font-size: 16px;
}

body {
    text-align: center;
    font-family: 'Anton', sans-serif;
}

.context {
    display: flex;
    justify-content: center;


}

.times{
    display: inline-block;
    margin-top: auto;
    margin-bottom: auto;
}

.assists { 
    display: inline-block;
    margin-top: auto;
    margin-bottom: auto;
}

.board-container {
    display: inline-block;

}

h1 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 60px;
}

h2,
span {
    font-size: 25px;
    margin-bottom: 10px;
}

table {
    margin-left: auto;
    margin-right: auto;
    border-spacing: 10px;

}


td {
    height: 70px;
    width: 70px;
    font-size: 35px;
    background-color: beige;
    border-radius: 10px;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 5px, rgba(0, 0, 0, 0.17) 0px 3px 3px;
}

td:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.25) 0px 5px 5px, rgba(0, 0, 0, 0.17) 0px 3px 3px;

}

button {
    background-color: beige;
    height: 35px;
    width: 70px;
    border: none;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 5px, rgba(0, 0, 0, 0.17) 0px 3px 3px;
    margin-bottom: 10px;
    font-weight: 600;
    padding: 0;
}

button:hover {
    box-shadow:rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.25) 0px 5px 5px, rgba(0, 0, 0, 0.17) 0px 3px 3px;

}

.manually-create{
    height: 45px;
    width: 90px;
    background-color: #ff0000;
}

.mega-hint{
    height: 47px;
    width: 90px;
    background-color: #8bfd00;
}

.seven-boom{
    height: 45px;
    width: 90px;
    background-color: #ffeb14;
}




.smiley-btn {
    height: 40px;
    width: 40px;
    font-size: 40px;
    margin-left: auto;
    margin-right: auto;
}

footer {
    margin-top: 150px;
}









body {
    background: linear-gradient(-45deg, #C3F8FF, #ABD9FF, #FFEBAD, #FFF6BF);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}